@charset "UTF-8";
/**
 * Сброс стилей
 **/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Gothic+A1:400,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

input {
  outline: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/*
*Neue Helvetica® - платный вмесо него Montserrat
*AlternativeGothic - нет в гугл фонтс в место него Gothic А1
*/
/**
 * Основные стили
 **/
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; }

.container {
  min-width: 320px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto; }

.wrap {
  min-width: 320px;
  max-width: 1160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto; }

p {
  color: #000; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e97755; }

/*
*header
*/
.top {
  padding-top: 7%;
  padding-bottom: 2%;
  padding-right: 6%;
  padding-left: 6%; }
  .top .top__wrap {
    padding: 0.7% 0.025%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fcfcfc;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.9px; }
  .top .top__menu {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%; }
  .top .top__left {
    padding-left: 3%; }
  .top .top__right {
    padding-right: 10%; }

.menu {
  padding-right: 10%; }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .menu a {
    padding-bottom: 12px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 23px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    border-bottom: 3px solid transparent; }
    .menu a:hover {
      border-bottom-color: #000;
      font-weight: 700; }

.search ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .search ul li {
    margin: 10px; }
  .search ul .icons {
    margin-top: 15px; }
  .search ul .search__text {
    border-left: 1px solid #ccc;
    margin-left: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative; }
  .search ul a {
    padding-bottom: 12px;
    font-size: 13px;
    line-height: 23px;
    font-weight: 500;
    color: #000;
    text-decoration: none; }

.top__right {
  padding-right: 100px; }

.logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.logo a {
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  border-right: 1px solid #ccc;
  margin-right: 5px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px; }

/*
*slider
*/
.slider {
  padding-top: 2%;
  padding-right: 6%;
  padding-left: 6%;
  padding-bottom: 2%; }
  .slider .slider__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); }
    .slider .slider__item .slider__img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .slider .slider__item .slider__img img {
        position: relative;
        max-width: 100%;
        margin: 0 auto; }
    .slider .slider__item .slider__title {
      position: absolute;
      top: 38%;
      left: 4%;
      width: 100%;
      font-size: 1.7vw;
      font-weight: 700; }
    .slider .slider__item .slider__text {
      position: absolute;
      top: 48%;
      left: 4%;
      right: 55%;
      font-size: 1vw;
      line-height: 170%;
      font-weight: 300; }
    .slider .slider__item .slider_btn {
      position: absolute;
      text-transform: uppercase;
      text-decoration: none;
      top: 83%;
      left: 4%;
      font-size: 1.2vw;
      border-bottom: 3px solid transparent;
      color: #fff;
      background-color: #68b075;
      font-weight: 700;
      border-radius: 2px;
      padding: 1.2%;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); }
    .slider .slider__item .slider__hide {
      font-family: 'Gothic+A1', sans-serif;
      position: absolute;
      top: 85%;
      right: 4%;
      font-stretch: ultra-condensed;
      font-size: 4vw;
      padding-bottom: 12px;
      text-transform: uppercase;
      line-height: 23px;
      font-weight: 700;
      color: #fff;
      text-decoration: none; }
